<%- include('_header.ejs') %>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <span>
            <a class="navbar-brand" href="">
                <img src="/img/logo2.png" alt="..." width="25px">
                Operatoria Web</a>
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">


                <% if( user.perfil==='Nivel 3' || user.perfil==='Nivel 2' ){ %>
                    <li class="nav-item">
                        <u><a class="nav-link active" href="#">Destinos<span class="sr-only">(current)</span></a></u>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/guiasDeRetorno">Guias de retorno</a>
                    </li>

                    <% } %>

                        <% if( user.perfil=='Nivel 3' ) {%>
                            <li class="nav-item">
                                <a class="nav-link" href="/usuarios">Usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/habilitarDestino">Habilitar destino</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logs">Logs</a>
                            </li>

                            <% } %>




            </ul>
            <form class="form-inline my-2 my-lg-0">
                <span class="mx-3">
                    <%= user.empresa %>
                </span>
                <span class="mx-3">@ <%= user.username %></span>
                <a class="nav-link btn btn-danger" href="/salir">X</a>
            </form>
        </div>
    </nav>








    <div class="container-fluid">


        <div class="row mx-2">
            <!-- MENSAJES -->
            <% if(message.length> 0 ) {%>
                <div class="alert alert-warning alert-dismissible fade show mt-2 mb-0" role="alert">
                    <%= message %>
                        <div class="text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                </div>
                <% } %>
        </div>


        <!-- BARRA BUSQUEDA -->
        <div class="mx-2">

            <% if( user.perfil==='Nivel 3' ) { %>
                <script>
                    const btnAgregar = 1;
                </script>
                <!-- <div class="text-right m-2">
                    <a href="/addOperatoria" class="text-dark"><span class="btn btn-info">+ AGREGAR</span></a>
                </div> -->
                <% } %>

        </div>

        <div class="m-2">
            <!-- TABLE -->
            <table class="table table-sm table-hover" id="tablaDestinos">
                <thead class="table-info">
                    <th>PROVINCIA</th>
                    <th>LOCALIDAD</th>
                    <th>CUT-OFF</th>
                    <th>TRANSPORTE (PC1)</th>
                    <th>TT</th>
                    <th>RETORNO</th>
                    <th class="text-center">ACCIONES</th>
                </thead>
                <tbody id="myTable">
                    <% destinos.forEach(e=> { %>

                        <tr class="shadow-sm p-1">


                            <td class="align-middle">
                                <div>
                                    <div>
                                        <%= e.provincia %>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">
                                <%= e.localidad %>
                            </td>

                            <td class="align-middle">
                                <%= e.cutoff %>
                            </td>

                            <td class="align-middle">
                                <div>
                                    <div>
                                        <%= e.transportePC1 %>
                                    </div>
                                    <small>
                                        <%= e.transporteDetallePC1%>
                                    </small>
                                </div>
                            </td>
                            <td class="align-middle">
                                <%= e.tiempoDeTransitoPC1 %>
                            </td>
                            <td class="align-middle">
                                <%= e.transporteRetorno %>
                            </td>
                            <!-- <td class="text-center"><small><a href="verOperatoria/<%=e._id%>">VER</a></small></td> -->
                            <td class="text-center align-middle">
                                <button type="button" class="btn btn-outline-secondary p-1" data-toggle="modal"
                                    data-target="#a<%= e.id %>">
                                    <small>VER</small>
                                </button>
                            </td>
                        </tr>
                        <% }) %>

                </tbody>
            </table>
        </div>
    </div>


    <!-- MODAL -->


    <% destinos.forEach(e=> { %>

        <div class="modal fade" id="a<%= e.id %>" tabindex="-1" role="dialog" aria-labelledby="n1313"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <%= e.localidad %>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-4"><b>PC1:</b></div>
                            <div class="col-8">
                                <%= e.transportePC1 %>
                                    <%= e.transporteDetallePC1 %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"><b>TT:</b></div>
                            <div class="col-8">
                                <%= e.tiempoDeTransitoPC1 %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"><b>Cut-off:</b></div>
                            <div class="col-8">
                                <%= e.cutoff %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"><b>Direccion de retiro:</b></div>
                            <div class="col-8">
                                <%= e.direccionDeRetiro %>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4"><b>Horario disponible:</b></div>
                            <div class="col-8">
                                <%= e.horarioDisponible %>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-4"><b>PC3:</b></div>
                            <div class="col-8">
                                <%= e.transportePC3 %>
                                    <%= e.transporteDetallePC3 %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"><b>TT:</b></div>
                            <div class="col-8">
                                <%= e.tiempoDeTransitoPC3 %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"><b>Retorno:</b></div>
                            <div class="col-8">
                                <%= e.transporteRetorno %>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12"><b>Comentarios:</b></div>
                            <div class="col-12">
                                <textarea cols="50" rows="3" class="form-control"
                                    readonly><%= e.comentarios %></textarea>
                            </div>
                        </div>





                    </div>
                    <div class="modal-footer">
                        <% if(user.perfil !=='Nivel 1' ) { %>
                            <a class="btn btn-primary" href="/editaroperatoria/<%= e.id %>">Editar</a>
                            <% } %>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


        <% }) %>


            <!-- modal -->
            <script>
                $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').trigger('focus');
                })
            </script>


            <!-- barra busqeuda -->
            <script>
                $(document).ready(function () {
                    // $("#buscar").on("keyup", function () {
                    //     var value = $(this).val().toLowerCase();
                    //     $("#myTable tr").filter(function () {
                    //         $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    //     });
                    // });

                    $('#tablaDestinos').DataTable(
                        {
                            language: {
                                // "lengthMenu": "Mostrar _MENU_ resultados",
                                "lengthMenu": "Ver  _MENU_ registros",
                                "info": "Mostrando _START_ a _END_ de _TOTAL_ resultados",
                                "infoEmpty": "Mostrando 0 a 0 de 0 resultados",
                                "search": "Buscar:",
                                "zeroRecords": "Sin resultados",
                                "paginate": {
                                    "first": "Primero",
                                    "last": "Ultimo",
                                    "next": "Sig.",
                                    "previous": "Prev."
                                },
                            }
                        }
                    );


                    if (btnAgregar) {
                        const bot = '<a href="/addOperatoria" class="btn btn-primary p-1 m-1 text-ligth" style="width: 15%">+ Agregar</a>';
                        $('#tablaDestinos_filter').append(bot);
                    }
                });
            </script>

            <%- include('_footer.ejs') %>